Luma Corpore - Respostas Campanha (1).json
{
  "name": "Luma Corpore - Respostas Campanha",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-respostas",
        "options": {}
      },
      "id": "99da4341-306c-44e7-b064-543ec106fc69",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -448,
        112
      ],
      "webhookId": "fcf4a9fd-6977-4bae-8cec-39d4717d84b0"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.message_type }}",
              "value2": "incoming"
            }
          ]
        }
      },
      "id": "55687e0b-5bef-4c43-b814-a50606dfa508",
      "name": "É mensagem do cliente?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.content.trim() }}",
              "value2": "1"
            }
          ]
        }
      },
      "id": "33e3f5f2-5990-4128-8215-4c624ee825a7",
      "name": "Digitou 1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        64,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.content.trim() }}",
              "value2": "2"
            }
          ]
        }
      },
      "id": "if-digitou-2",
      "name": "Digitou 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        64,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-oracle.lumacorpore.com.br/api/v1/accounts/1/contacts/{{ $('Webhook Chatwoot').item.json.body.sender.id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"labels\": [\"optout\"] }",
        "options": {}
      },
      "id": "f8db1bf5-e7ab-4a51-b6a6-eb429f0b47a1",
      "name": "Tag optout (Contato)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        272,
        320
      ],
      "credentials": {
        "chatwootApi": {
          "id": "st18fM51jCQjPjII",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://chatwoot-oracle.lumacorpore.com.br/api/v1/accounts/1/contacts/{{ $('Webhook Chatwoot').item.json.body.sender.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"custom_attributes\": { \"optout\": true, \"optout_data\": \"{{ new Date().toISOString().split('T')[0] }}\" } }",
        "options": {}
      },
      "id": "3e07df5a-37d3-44d1-a267-a91959a39dca",
      "name": "Marcar Contato Optout1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        496,
        320
      ],
      "credentials": {
        "chatwootApi": {
          "id": "st18fM51jCQjPjII",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-oracle.lumacorpore.com.br/api/v1/accounts/1/conversations/{{ $('Webhook Chatwoot').item.json.body.conversation.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Entendido! Você foi removido(a) da nossa lista de promoções. Se mudar de ideia, é só nos enviar uma mensagem. 💛"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "13dec344-57e1-417a-9a3d-b820f8e50365",
      "name": "Confirmar Opt-out1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        720,
        320
      ],
      "credentials": {
        "chatwootApi": {
          "id": "st18fM51jCQjPjII",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {},
      "id": "315284de-a3ff-47a4-8f02-f34c6469b495",
      "name": "Ignorar (Humano responde)1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        272,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-oracle.lumacorpore.com.br/api/v1/accounts/1/conversations/{{ $json.body.conversation.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "🎉 Que ótimo! Aqui estão as nossas promoções especiais para você! 💖\n\nConfira os detalhes abaixo e me avise se tiver alguma dúvida! 😊"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "4c3ee87f-16be-477f-8b57-f98b7fc09e6e",
      "name": "Enviar Texto Promo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1104,
        -32
      ],
      "credentials": {
        "chatwootApi": {
          "id": "st18fM51jCQjPjII",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "0c33ac58-b706-4454-9c8d-e2e15752ed2f",
      "name": "Download Arquivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        96
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tsYnDVIEYjove9p3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-oracle.lumacorpore.com.br/api/v1/accounts/1/conversations/{{ $('Webhook Chatwoot').item.json.body.conversation.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "a33da382-8adb-4609-8365-beaa8ae16f03",
      "name": "Enviar Imagem Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        928,
        96
      ],
      "credentials": {
        "chatwootApi": {
          "id": "st18fM51jCQjPjII",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-oracle.lumacorpore.com.br/api/v1/accounts/1/conversations/{{ $json.body.conversation.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✨ Especial mês das mães✨  \n\nToda mãe merece se olhar no espelho e enxergar a mulher incrível que existe além da rotina. 💖 Cuidar de si também é uma forma de amor. \n\nAgende seu Botox terço superior completo e realce sua beleza com elegância. 💉✨  \n\n📲 Chame agora e garanta sua condição especial."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "ce40cd22-42cb-4f6e-b557-f1809506c646",
      "name": "Enviar Texto Promo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        256,
        96
      ],
      "credentials": {
        "chatwootApi": {
          "id": "st18fM51jCQjPjII",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1MIvD-bra14andHXabFCxGPOFw2CcXft6",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "9df248dd-5c58-46f1-8a6a-8049f043d4f5",
      "name": "Listar Arquivos Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        96
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tsYnDVIEYjove9p3",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "É mensagem do cliente?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem do cliente?1": {
      "main": [
        [
          {
            "node": "Digitou 1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitou 1?": {
      "main": [
        [
          {
            "node": "Enviar Texto Promo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Digitou 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitou 2?": {
      "main": [
        [
          {
            "node": "Tag optout (Contato)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar (Humano responde)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag optout (Conversa)1": {
      "main": [
        [
          {
            "node": "Marcar Contato Optout1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Contato Optout1": {
      "main": [
        [
          {
            "node": "Confirmar Opt-out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Arquivo": {
      "main": [
        [
          {
            "node": "Enviar Imagem Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Texto Promo": {
      "main": [
        [
          {
            "node": "Listar Arquivos Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Arquivos Drive": {
      "main": [
        [
          {
            "node": "Download Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "99f9b738-4a62-433c-ba7b-2a4bf124a424",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4218c872a8136a0e3b73a74829fd947aeb1e2414ddaadf40355fc765d2b1c82"
  },
  "id": "wF5eXrgEHBN9MxPM",
  "tags": []
}